name: webiny-cms

vars:
  region: ${env.AWS_REGION}
  lumigo:
    token: ${env.LUMIGO_TOKEN}

site:
  component: "@webiny/serverless-app"
  inputs:
    description: Webiny Site
    region: ${vars.region}
    memory: 128
    timeout: 30
    root: ./site
    webpackConfig: ../webpack.config.js
    plugins:
      - factory: "@webiny/api-plugin-lumigo-tracer"
        options: ${vars.lumigo}
    env:
      SSR_FUNCTION: ${ssr.name}
ssr:
  component: "@webiny/serverless-function"
  inputs:
    description: Site SSR
    region: ${vars.region}
    hook: yarn build:${cli.env}
    root: ./site
    code: ./site/build-ssr
    handler: handler.handler
    memory: 2048
    timeout: 30
    webpackConfig: ../webpack.config.js
    plugins:
      - factory: "@webiny/api-plugin-lumigo-tracer"
        options: ${vars.lumigo}

admin:
  component: "@webiny/serverless-app"
  inputs:
    region: ${vars.region}
    description: Webiny Admin
    hook: yarn build:${cli.env}
    root: ./admin
    webpackConfig: ../webpack.config.js
    plugins:
      - factory: "@webiny/api-plugin-lumigo-tracer"
        options: ${vars.lumigo}

api:
  component: "@webiny/serverless-api-gateway"
  inputs:
    name: Apps Gateway
    description: Serverless React Apps
    endpoints:
      - path: /admin/{key+}
        method: GET
        function: ${admin}
      - path: /admin
        method: GET
        function: ${admin}
      - path: /{key+}
        method: GET
        function: ${site}
      - path: /
        method: GET
        function: ${site}

cdn:
  component: "@webiny/serverless-aws-cloudfront"
  inputs:
    origins:
      - url: ${api.url}
