name: Check Pull Requests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  MONGODB_SERVER: ${{ secrets.MONGODB_SERVER }}

jobs:
  setup-webiny-js:
    name: Clone "webiny-js" repo and set it up
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install all dependencies
        run: yarn

      - name: Save artifact
        uses: actions/upload-artifact@v1
        with:
          name: homework
          path: .

  build:
    needs: setup-webiny-js
    name: Build everything
    runs-on: ubuntu-latest
    steps:
      - name: Download checked out files
        uses: actions/download-artifact@v1
        with:
          name: homework

      - name: Install all dependencies
        run: yarn lerna run build --stream
